@model Autorepair.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Part)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Part.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCompletionDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Назад</a> |
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Редактировать</a>
</div>

